@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        @apply bg-white text-gray;
    }

    .dark *::selection {
        @apply bg-gray text-white;
    }

    input {
        @apply text-gray border-none outline-none;
    }
}

@font-face {
    font-family: 'Luminari';
    src: url('../app/src/fonts/luminari/Luminari-Regular.ttf')
        format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Thin.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Thin.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-ThinItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-ThinItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-ExtraLight.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-ExtraLight.woff?v=3.19')
            format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-ExtraLightItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Light.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Light.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-LightItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-LightItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Regular.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-Regular.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Italic.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-MediumItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-MediumItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-SemiBold.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-SemiBold.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-SemiBoldItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Bold.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Bold.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-BoldItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-BoldItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-ExtraBold.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-ExtraBold.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19')
            format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-Black.woff2?v=3.19') format('woff2'),
        url('../app/src/fonts/inter/Inter-Black.woff?v=3.19') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('../app/src/fonts/inter/Inter-BlackItalic.woff2?v=3.19')
            format('woff2'),
        url('../app/src/fonts/inter/Inter-BlackItalic.woff?v=3.19')
            format('woff');
}


button.button,
a.button {
    @apply py-3 leading-none px-3 text-gray bg-white rounded font-normal no-underline outline-none;
}

.onsale {
    @apply absolute top-3 left-3 w-12 text-sm h-12 flex items-center justify-center bg-white rounded-full text-gray;
}

.media-content {
    @apply relative;
}

.media-content img {
    @apply mb-4;
}

.entry-title a {
    @apply no-underline;
}

.media-content .entry-title {
    @apply mt-0 mb-2;
}

.media-content .price {
    @apply block mb-4;
}

.media-content .button {
    @apply block w-fit;
}

.single-product .single_add_to_cart_button {
    @apply block my-6;
}

.single-product .entry-images .woocommerce-product-gallery {
}

.single-product
    .entry-images
    .woocommerce-product-gallery
    .woocommerce-product-gallery__wrapper
    div {
    @apply mr-4 inline-block;
}

.single-product
    .entry-images
    .woocommerce-product-gallery
    .woocommerce-product-gallery__wrapper
    div:first-child {
    @apply mr-0 w-full rounded-lg overflow-hidden;
}

.single-product .woocommerce-product-gallery__image .wp-post-image {
    @apply aspect-square object-cover m-0 w-full;
}

/* .woocommerce-notices-wrapper {
    @apply bg-white text-gray;
} */

.woocommerce-notices-wrapper ul {
    @apply m-0 p-0; 
}

.woocommerce-notices-wrapper ul li {
    @apply m-0 p-4 flex items-center justify-between flex-row-reverse; 
}
