{% block html_head_container %}
    {% include 'layouts/head.twig' %}
        {% block head %}
        {% endblock %}
        </head>
    {% endblock %}
    <body class="{{body_class}}">
    {% include 'layouts/header.twig' %}
    <main id="content" role="main" class="content-wrapper">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>
    {% include 'layouts/footer.twig' %}
    </body>
</html>
