<!DOCTYPE html>
<html {{ site.language_attributes }}>

	{% include 'html-header.twig' %}

	<body class="antialiased font-sans {{ body_class }}">

		{% include 'components/header.twig' %}

		<main class='container mx-auto'>
			{% block content %}
				<p>Sorry, no content</p>
			{% endblock %}
		</main>

		{% include 'components/footer.twig' %}

		{% include 'html-footer.twig' %}
	</body>
</html>
